html{
background-color: red;
height: 100%;
}

    body{background-color: rgb(57, 89, 202);
    height: 90%;
}
h1{text-align: center;}
img{
    display: block;
    margin: auto;
}
#wrapper{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{background-color: beige;
padding: 1rem;
}
main{background-color: saddlebrown;
padding: 1rem;
flex: 1;}


footer{background-color: darksalmon;
padding: 1rem;
}